.bio-container {
  padding: 30px;
  width: 75%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff7f5;
}

.inner-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 30px;
  justify-content: space-evenly;
  margin: 0 auto;
}

.bio-container .dog-name {
  text-align: center;
}

.bio-container .bio-heading,
.bio-container .dog-name {
  margin-bottom: 30px;
}

.bio-container .bio {
  margin-bottom: 20px;
}

.img-container {
  width: 100%;
}

.img-container img {
  width: 100%;
  border-radius: 10px;
}

.btn-box .btn-back {
  color: orange;
}
